<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>测试</title>
  <style type="text/css">

    #fa {
      border: red 1px solid;
      width: 300px;
      height: 300px;
    }

    #box1 {
      width: 100px;
      height: 100px;
      float: right;
      margin-right: 10px;
      background-color: red;
      display: inline-block;
    }
    #box2 {
      width: 100px;
      height: 100px;
      background-color: #0000FF;
      display: inline-block;
    }
  </style>


</head>

<body>

<div id="fa">
  <div id="box1"></div>
  <!--<div id="box2"></div>-->
</div>



</body>
</html>
